// colors
$white:hsl(0, 0%, 100%);
$btnCyan: hsl(176, 68%, 64%);
$btnBlue: hsl(198, 60%, 50%);
$intro: hsl(217, 28%, 15%);
$main:hsl(218, 28%, 13%);
$footer:hsl(216, 53%, 9%);
$testemonial:hsl(219, 30%, 18%);

// Grid

$grid-width:114rem;
$grid-width2:154rem;
//$gutter-vertical:8rem;
//$gutter-horizontal:6rem;

// Font

$default-font-size:1.6rem;
